@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MinecraftBold-nMK1';
    src: url('../MinecraftBold-nMK1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  /* Add any other global styles you need */